* {
	padding: 0;
	margin: 0;
}

@font-face {
	src: url(Media/Merienda_One/MeriendaOne-Regular.ttf);
	font-family: "meri"
}

body {
	background-image: url(Media/gifs/Superman%20Background.jpg);
	background-size: 100% 50%;
	font-family: meri;
	overflow: hidden;

}

@media only screen and (max-width:857px) {
	body {
		background-image: url(Media/gifs/Superman%20Background.jpg);
		background-size: 100% 50%;
		font-family: meri;
		overflow: hidden;
	}
}

.mainContainer {
	display: flex;
}

.wrapper {
	padding-top: 50px;
	margin: auto;


}

.mainNav {
	width: 100%;
	background-color: white;
	height: 100px;
	position: fixed;
	z-index: 999;
	font-family: meri;

}

.mainNav a {
	color: blue;
	font-family: meri;
}

.mainNav li {
	padding-left: 70px;
}

.sideBar {
	background-color: black;
	width: 65px;
	height: 100px;
	z-index: 1000;
	position: fixed;

}

.sideBar img {
	width: 100%;
	height: 100%;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.question1 {
	font-size: 20px;
	padding: 50px;
	margin-top: 10px;
	color: beige;
	visibility: visible;
	animation: fadeInAnimation ease 5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}


.question1 form input {
	display: block
}

.question1 button {
	width: 20%;
	height: 20px;
	position: relative;
	left: 40%
}

.question2 {
	font-size: 20px;
	padding: 50px;
	visibility: hidden;
	color: beige;
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.question2 form input {
	display: block
}

.question2 button {
	width: 20%;
	height: 20px;
	position: relative;
	left: 40%
}

.question3 {
	font-size: 20px;
	padding: 50px;
	visibility: hidden;
	color: beige;
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.question3 form input {
	display: block
}

.question3 button {
	width: 20%;
	height: 20px;
	position: relative;
	left: 40%
}

.question4 {
	font-size: 20px;
	padding: 50px;
	visibility: hidden;
	color: beige;
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.question4 form input {
	display: block
}

.question4 button {
	width: 20%;
	height: 20px;
	position: relative;
	left: 40%
}

.question5 {
	font-size: 20px;
	padding: 50px;
	visibility: hidden;
	color: beige;
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.question5 form input {
	display: block
}

.question5 button {
	width: 20%;
	height: 20px;
	position: relative;
	left: 40%
}

.EndSuperman {
	visibility: hidden;
	font-size: 18px;
	color: beige;
	margin: 100px;
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	text-align: center;
}

.sideBar a {
	width: 100%;
}

button {
	font-family: meri;
	color: red;
	border: 1px groove red;
	cursor: pointer;
}

form {
	display: grid;
	grid-template-columns: 3% 97%;
}

input {
	margin: auto auto;
}

.TA p,
.VI p {
	margin: 5%;
	background-color: black;
	opacity: 0.9;
	color: white;
	text-align: center;
	text-decoration-color: white;
	text-decoration: underline
}

.supermanQuiz div {
	margin-top: 15%;
}

@media only screen and (min-width:858px) {
	.mainNav {
		width: 100%;
		background-color: white;
		height: 50px;
		position: fixed;
		z-index: 999;

	}

	.supermanQuiz div {
		margin-top: 4%;
	}

	.mainLogo img {
		display: block;
		width: 30%;
		height: auto;
		margin: 0 auto;
	}

	.mainNav li {
		display: inline-block;
		padding-left: 50px;
		line-height: 50px;
		padding-left: 100px
	}

	.mainNav a {
		color: blue;
	}

	body {
		background-image: url(Media/gifs/Superman%20Background.jpg);
		background-size: 100% 50%;
	}

	.sideBar {
		background-color: black;
		width: 65px;
		height: 50px;
		z-index: 1000;
		position: fixed;
	}

	.EndSuperman {
		display: grid;
		visibility: hidden;
		font-size: 25px;
		color: beige;
		margin: 100px;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"score score"
			"TA VI";
		font-family: meri;
		margin: auto;
	}

	.EndSuperman p {
		grid-area: score;

	}

	.TA {
		grid-area: TA;
		width: 200px;
		height: 200px;
		background-image: url(Media/gifs/Superman%20Try%20Again.jpg);
		background-size: cover;
		margin: auto auto;
		border: 10px solid white;
		border-radius: 10px;
	}

	.TA:hover {
		background-image: url(Media/gifs/Superman%20Try%20Again%20gif.gif);
	}

	.TA p,
	.VI p {
		margin-top: 90%;
		background-color: black;
		text-align: center;
		opacity: 0.9;
		color: white;

	}

	.VI:hover {
		background-image: url(Media/gifs/Superman%20Victory%20gif.gif);

	}

	.VI {
		grid-area: VI;
		width: 200px;
		height: 200px;
		background-image: url(Media/gifs/Superman%20VI%20cover.png);
		margin: auto auto;
		background-size: cover;
		border: 10px solid white;
		border-radius: 10px;
	}

	form {
		display: grid;
		grid-template-columns: 3% 97%;
	}

	input {
		margin: auto auto;
	}
}
